#game-board{
    margin: 40px;
}

#previous-guesses {
    display: flex;
    justify-content: space-between;
}

.previous-guess {
    width: 50px;
    height: 50px;
}

#previous-matches {
    display: flex;
    justify-content: space-between;
}

.previous-match {
    width: 50px;
    height: 50px;
}