body {
    background-color: #BCD1AC;
    color: #824026;
}

#game-board{
    margin: 40px;
}

.number, #backspace {
    font-size: 1.25em;
}

.btn-toolbar {
    white-space: nowrap;
    font-size: 2em;
}
.btn-toolbar .btn {
    float: none;
    display: inline-block;
}

#current-guess{
    font-size: 2.5em;
}

#previous-guesses-matches{
    font-size: 1.75em;
}