#game-board{
    margin: 40px;
}

#previous-guesses {
    display: flex;
    justify-content: space-between;
}

.previous-guess {
    flex-wrap: wrap;
}

#previous-matches{
    display: flex;
}

.previous-match {
    flex-direction: column;
    flex-wrap: wrap;
}